.navBar {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: 30px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  color: $blackHome;
  font-weight: 400;
  .activeNav {
    transition: all 0.2s ease-in-out;
  }
  .activeNav:hover {
    transform: scale(1.1);
  }
  .noHover:hover {
    transform: inherit;
  }
  .localNav {
    font-weight: 700;
  }
}
